{% extends 'shop/basic.html' %}
<!-- Load Static Files  -->
{% load static %}

<!-- Title Bloack -->
{% block title %} Home | Shop{% endblock title %}

<!-- CSS Block -->
{% block css %}
<style>
  .col-md-3 {
    display: inline-block;
    margin-left: -4px;
  }

  .col-md-3 img {
    width: 100%;
    height: 250px;
  }

  {% comment %} body .carouselindicators li {
    background-color: blue;
  } {% endcomment %}

  .carousel-indicators li{
    background-color: #aeb6e8;
  }

  .carousel-indicators {
    bottom: -35px;
  }

  .carousel-indicators .active {
    background-color: blue;
  }

  .carousel-control-prev{
    margin-left: -96px;
  }

  .carousel-control-next{
    margin-right: -103px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    border: none !important;
    background: none;
    top: auto !important;
    bottom: 224px;
    
  }

  body .carousel-control-prev-icon,
  body .carousel-control-next-icon {
    background-color: blue;
  }

  body .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
</style>
{% endblock css %}

<!-- Body Block -->
{% block body %}
<div class="container mt-3">
  <!-- Slideshow starts here -->

  <!-- For loop for displaying multiple sliders -->
  {% for product , range in allproducts %}

  <!-- Carousel Indicators -->

  <!-- Add {{forloop.counter}} after the id of indicators and slider buttons for displaying multiple sliders -->
  <div id="carouselExampleIndicators{{forloop.counter}}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

      <!-- For displaying Carousel Indicators -->
      {% for i in range %}
      <li data-target="#carouselExampleIndicators{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
      {% endfor %}
      <!-- {{forloop.parentloop.counter}} : For getting the counter of parent for loop -->

    </ol>

    <div class="carousel-inner m-0 mt-4">
      <center>
<!-- Here,each QuerySet is Iterated one by one and displays all the ITEMS(products) in the Corousel and the category of 0th item is diplayed as the Title of the Corousel -->
        <h1>{{product.0.category}}</h1>
      </center>
      <!-- Carousel Item : 1 -->
      <div class="carousel-item active">
        <!-- For loop from 0th index of product upto the end index(Object) -->
        {% for i in product|slice:"0:" %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 17.4rem;">
            <!-- /media/{{i.image}} : Displays the image located at media folder (for i th index) -->
            <img src="/media/{{i.image}}" class="card-img-top align-items-center" alt="...">
            <div class="card-body">
              <h4 class="card-title">Rs. <span id="pricepr{{i.product_id}}">{{i.price}}</span> </h4><br>
              <h5 class="card-title" id="namepr{{i.product_id}}">{{i.product_name}}</h5>
              <p class="card-text">{{i.desc|slice:"0:52"}}...</p>
              <span id="divpr{{i.product_id}}" class="divpr">
                <button id="pr{{i.product_id}}" class="btn btn-primary cart">Add to Cart</button>
              </span>
              <a href="products/{{i.product_id}}">
                <button id="qv{{i.product_id}}" class="btn btn-primary">Quick View</button></a>
            </div>
          </div>
        </div>
        <!-- if forloop counter is divisible by 4 and counter is greater that 0 and it is not the last Object of the database -->
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div>
      <div class="carousel-item">
        {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- Carousel Buttons -->
    <!-- Add {{forloop.counter}} after the id of indicators and slider buttons for displaying multiple sliders -->
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators{{forloop.counter}}"
      data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators{{forloop.counter}}"
      data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
  <!-- Container End -->
  {% endfor %}

  {% endblock body %}



  <!-- JAVASCRIPT BLOCK -->
  {% block js %}
  <script>
    // FOR UPDATING THE CART

    // If there is no cart in localstorage
    if (localStorage.getItem('cart') == null) {
      var cart = {}
    }
    // If there is cart in localstorage
    else {
      cart = JSON.parse(localStorage.getItem('cart')) // JSON.parse() : converts the text into JavaScript Objects
      updateCart(cart)
    }

    // Function to handle the click event of the button
    $('.divpr').on('click', 'button.cart', function(){
      console.log(idstr)
    //$('.cart').on('click', 'button.cart', function () {
      var idstr = this.id.toString();  // Converted the ID into string
      if (cart[idstr] != undefined) {  //If the id is already defined in the cart{} then 
        qty = cart[idstr][0] + 1;  //Add the count of that product
      }
      // If the id is not present in the cart{}
      else {
        qty = 1;   // Else set cart[idstr] as 1 
        name = document.getElementById('name'+idstr).innerHTML
        price = parseInt(document.getElementById('price'+idstr).innerHTML) // Converted String to Integer
        cart[idstr] = [qty,name,price]
      }
      console.log(cart)

      updateCart(cart)

    });
    
    
    // Function for displaying the + , - button for selecting quantity
    function updateCart(cart) {
      total = 0
      console.log(this.id)
      for (var item in cart) {
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
        total += cart[item][0] // Add the Quantity of all the products present in the cart
      }
      localStorage.setItem('cart', JSON.stringify(cart));  // CONVERTS THE JSON OBJECT INTO STRING
      document.getElementById('cartcount').innerHTML = total;  // Updates the Count on the Cart Button
      updatePopover(cart)  // UPDATE THE PRODUCTS IN CART POPOVER
    }

    // If plus or minus button is clicked, change the cart as well as the display value
    $('.divpr').on("click", "button.minus", function () {
      console.log(this.id)
      a = this.id.slice(7,);  // MINSUPR3  ---- 7TH INDEX IS TAKEN i.e 3
      cart['pr' + a][0] = cart['pr' + a][0] - 1;
      cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
      updateCart(cart);
    });

    $('.divpr').on("click", "button.plus", function () {
      a = this.id.slice(6,);
      cart['pr' + a][0] = cart['pr' + a][0] + 1;
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
      updateCart(cart);
    });

    // DISPLAYS THE PRODUCTS PRESENT IN CART ON A POPOVER 
    function updatePopover(cart) {
      console.log('We are inside updatePopover');
      let popStr = `
        <h5> Cart for your items in my shopping cart </h5>
        <div class='mx-2 my-2'>
      `;
      
      let i = 1;
      for (let item in cart) {
        const itemName = document.getElementById('name' + item)?.innerHTML.slice(0, 19) || "Unnamed Item";
        const quantity = cart[item][0];
        
        popStr += `
          <div class="cart-item d-flex justify-content-between align-items-center mb-2">
            <div class="item-info">
              <span class="item-number badge badge-secondary mr-2">${i}</span>
              <b>${itemName}</b>
            </div>
            <span class="quantity badge badge-light">Qty: ${quantity}</span>
          </div>
        `;
        i++;
      }
      
      popStr += `
        </div>
        <div class='d-flex justify-content-around p-2'>
          <a href='/shop/checkout' class='btn btn-primary' id='checkout'>Checkout</a>
          <a href='javascript:void(0)' class='btn btn-primary' id='clearCart'>Clear Cart</a>
        </div>
      `;
      
      document.getElementById('popcart').setAttribute('data-content', popStr);
      $('#popcart').popover('show');
    
      // Attach the clearCart event to the new button
      document.getElementById('clearCart').onclick = clearCart;
    }
    
    function clearCart() {
      console.log("Clearing cart...");
      const cart = JSON.parse(localStorage.getItem('cart')) || {};
      for (const item in cart) {
        document.getElementById('div' + item).innerHTML = `<button id="${item}" class="btn btn-primary cart">Add To Cart</button>`;
      }
      localStorage.clear();
      updatePopover({});
      updateCart({});
    }
    

  </script>

  {% endblock js %}